* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.roll {
    animation: roll 1s;

}
@keyframes roll {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}
#btn {
    background-color: rgb(255, 71, 71);
    color: whitesmoke;
    font-size: 40px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.568);
}
#btn:active {
    background-color: rgb(187, 66, 44);
}